[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = ">=4.0"
v = {editable = true,version = "*"}
pylint = ">=2"
autopep8 = "*"

[packages]
numpy = ">=1.0"
gym = "*"
hip-mdp-public = {git = "https://github.com/Zaerei/hip-mdp-public"}
numba = ">=0.42"

[requires]
python_version = "3.6"
